@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<center>
<h2 style="text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<p>Đơn hàng của quý khách đã được hệ thống ghi nhận, chúng tôi sẽ giao hàng đúng hẹn!</p>
    <p>Cám ơn, hẹn gặp lại quý khách!</p>
    <a href="@Url.Action("Sachpartial", "Sach")" style="color:blue;text-decoration:none">VỀ TRANG CHỦ</a>
    </center>