@{
    ViewBag.Title = "ChinhSach";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<center><h2>CHÍNH SÁCH TẠI 2hPM-Books</h2></center>

<img alt="" src="https://cdn.tgdd.vn/Files/2013/07/30/519804/chinh-sach-doi-tra.jpg" style="margin: 0px; padding: 0px; border: 0px; width: 100%;" />
<p><b>- Áp dụng từ</b>: 01/01/2016</p>
<p><b>- Nơi thực hiện đổi trả</b>: Toàn hệ thống nhà sách 2hPM-Books.</p>
<p>&gt;&gt;Đổi trả trong vòng 7 ngày.</p>
<p>&gt;&gt;Sản phẩm lỗi đổi trả miễn phí 100% trong vòng 24h.</p>
</div>
   
<p><a href="#">Chi nhánh TP.HCM</a></p>
<p>
    <b>Địa chỉ</b>: 140-Lê Trọng Tấn,Q.Tân Phú,TP.HCM
       
    <br />
    <b>Hotline</b>: 0988493930-0343213839(Hải Đình) - <b>Fax</b>: (08) 1111111 
</p>
<p><a href="#">Chi nhánh Cần Thơ</a></p>
<p>
    <b>Địa chỉ</b>: 69 Trần Văn Hoài, P.Xuân Khánh, Q.Ninh Kiều, Tp.Cần Thơ
       
    <br />
    <b>Hotline</b>: (0292) 3830098 - <b>Fax</b>: (0292) 3830561
</p>
