@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<center><h2>
Chào mừng bạn đến với nhà sách của chúng tôi</h2></center>

<p>
Lời đầu tiên Nhà sách 2hPM-Books xin gửi đến quý khách lời chúc tốt đẹp nhất khi đến thăm websiteL:"2hPM-Books.com". Kính chúc quý khách sức khỏe, thành đạt và ngày càng phát triển.</p>
<p>
    <b style="color:red">1. Giới thiệu Công Ty</b><br />

Nhà sách 2hPM-Books chuyên cung cấp đầu sách mới nhất. Với đội ngũ nhân viên có trình độ chuyên môn cao, giàu kinh nghiệm, năng động sáng tạo và có thái độ niềm nở trong cung cách phục vụ khách hàng. Tất cả đội ngũ nhân viên trong công ty luôn lấy mục tiêu “ Khách hàng là thượng đế “ chúng tôi cam kết sẽ mang lại sự hài lòng cho quý khách khi sử dụng dịch vụ của chúng tôi cung cấp.
    </p>
<p><b style="color:red">2. Quan điểm kinh doanh của Nhà sách 2hPM-Books:</b><br />

 - Luôn cung cấp cho các khách hàng những sản phẩm tốt với giá cả cạnh tranh nhất đi kèm với những chế độ dịch vụ hoàn hảo nhất.<br />

- Luôn đặt chữ tín lên hàng đầu, không vì lợi nhuận mà gian dối, lừa bịp khách hàng...<br />

- Luôn đặt mình vào địa vị của khách hàng để có những quyết định, cư xử phải lẽ nhất...<br />

- Luôn làm hài lòng mọi khách hàng đến với Phương Đông bằng việc thấu hiểu và thực hiện theo quan điểm: "Khách hàng luôn luôn đúng".
    </p>
<p><b style="color:red">3. Chính sách kinh doanh của Nhà sách 2hPM-Books:</b><br />

Khi sử dụng dịch vụ của Nhà sách 2hPM-Books, các bạn sẽ cảm thấy hoàn toàn yên tâm và hài lòng về mọi mặt vì 2hPM-Books luôn cung cấp cho các bạn những điều mà bạn mong muốn và quan tâm:<br />

 -Bạn sẽ được bảo đảm về giá và Tuyệt đối không sợ bị hớ.<br />

- Bạn sẽ được 2hPM-Books phục vụ theo đúng phương châm Khách hàng là thượng đế.<br />

- Bạn sẽ được hưởng các chính sách, chế độ Dịch vụ số 1 tại Việt Nam. <br />

- Với sự đầu tư cơ bản về cơ sở hạ tầng, với một ý thức trách nhiệm cao, chúng tôi muốn mang lại Sự an toàn tuyệt đối cho các khách hàng đã sử dụng dịch vụ của công ty chúng tôi bằng. Những cam kết bảo hành có giá trị pháp lý và giá trị thực tế đúng như những gì chúng tôi đã thỏa thuận với khách hàng.
    </p>