@using WebSiteBanSach.Models;
@model List<TACGIA>
<div>
    <select name="tacgia" class="form-select" aria-label="select" style="width:90%">
        <option selected">@ViewBag.TG</option>
        @{
            foreach (var item in Model)
            {
            <option>@item.TENTG</option>
            }       
        }

    </select>
</div>