@using WebSiteBanSach.Models;
@model List<THELOAI>
<div>
    <select name="theloai" class="form-select" aria-label="select" style="width:90%">
        <option selected>@ViewBag.TG</option>
        @{
            foreach (var item in Model)
            {
            <option>@item.TENTHELOAI</option>
            }       
        }

    </select>
</div>