@{
    ViewBag.Title = "ThemNguoiDung";
    Layout = "~/Views/Shared/PageLayOutAdmin.cshtml";
}


<style>
    .active-cyan-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }

    .active-cyan-3 input[type=text] {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }
</style>

    <div class="container" style="width: 50%; padding-top: 1%">
        <h3 style="text-align: center; color: #505050">THÊM NGƯỜI DÙNG MỚI</h3>
        <br>
        <p></p>
        @using (Html.BeginForm())
        {
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Họ và tên" name="hoten">
        </div>
        <span></span>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Ngày sinh" name="ngaysinh">
        </div>
        <span></span>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input type="radio" name="gioitinh" value="Nam">Nam &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="radio" name="gioitinh" value="Nữ">Nữ
        </div>
        <span></span>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Số điện thoại" name="dienthoai">
        </div>
        <span></span>

        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Địa Chỉ" name="diachi">
        </div>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Email" name="email">
        </div>
        <div>
            <select name="quyen" class="form-select" aria-label="select">
                <option selected>Nhân Viên</option>
                <option>Khách Hàng</option>
            </select>
        </div>
        <br>
        <span></span>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="User" name="tendn">
        </div>
        <span></span>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="password" placeholder="Password" name="matkhau">
        </div>
      
        <br>
        <span></span>
        <center><input id="Submit1" type="submit" class="btn btn-primary" value="Thêm"></center>
        }
    </div>
