@using WebSiteBanSach.Models;
@model List<THELOAI>
<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color: #3c3c2a;"><a href="#" style="text-transform: uppercase; text-decoration: none; color: white; font-weight: bold;">Thể Loại Sách</a></li>
    @{
        foreach (var item in Model)
        {
        <li class="list-group-item">
            <a href="@Url.Action("SachTheoTL", "TheLoai", new { @ms = item.MATHELOAI })" style="text-transform:uppercase; text-decoration:none; color: #3c3c2a">@item.TENTHELOAI </a>
        </li>
        }                   
        <li class="list-group-item"><a href="#" style="text-transform: uppercase; text-decoration: none;"></a></li>
    }

</ul>
